<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personas</title>
</head>
<body>
    <h1>Sistema de administracion de personas (SAP)</h1>
    <div>
        <p>Total de personas: {{total_personas}}</p>
    </div>
    <div>
        <a href="{{url_for('agregar_persona')}}">Agregar persona</a>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nick</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Ver Persona</th>
                    <th>Editar Persona</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{persona.id}}</td>
                    <td>{{persona.nick_name}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td>{{persona.email}}</td>
                    <td><a href="verp/{{persona.id}}">Ver persona</a></td>
                    <td><a href="editarp/{{persona.id}}">Editar persona</a></td>
                    <td><a href="eliminarp/{{persona.id}}">Eliminar persona</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>